body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: max-content 1fr;
}

body > * {
  padding: 1rem;
  padding-right: 3rem;
  display: flex;
}

aside {
  position: relative;
  background-color: #5c15df;
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 1rem;
}

.icon-container {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 2rem;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

ul > .icon-container:hover {
  cursor: pointer;
  box-shadow: -1px 0 2px rgb(75, 181, 252), 
              1px 1px 1px rgba(0,0,0,0.4);
  font-weight: 600;
}

ul > .icon-container:active {
  font-weight: 900;
}

nav > .icon-container {
  margin: inherit;
  grid-template-columns: 3rem 1fr;
}

.icon {
  aspect-ratio: 1;
}

#add-task-form {
  background-color: #5c15df;
  position: absolute;
  left: 100%;
  padding: 2rem;
  border-radius: 0.25rem;
  margin: 5vh 1rem;
  display: none;
  z-index: 1;
  gap: 1rem;
  width: 150%;
}

#add-task-submit {
  z-index: 2;
}

.form-section {
  display: grid;
  gap: 0.25rem;
}

input, textarea {
  background-color: rgb(240, 240, 240);
}

input:focus, textarea:focus {
  background-color: white;
}

textarea:not(:placeholder-shown) {
  height: 6em;
}

#dueDateBox {
  display: none;
}

.required {
  outline: 2px solid red;
}